/* Project Taurus Stylesheet */

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

#main_container {
    border: 1px solid black;

}

#search_box {
    /*border: 1px solid black; */
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

#login_box {
    border: 1px solid black; 
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 10px;
    width: 300px;
}

#welcome {
    background-color: red;
    color: white;
    font-family: arial;
    font-size: 1.25em;
    padding: 1.5px;
    float: left;
 
}

#create_box {
    border: 1px solid black; 
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 10px;
    width: 300px;
}

#update_box {
    border: 1px solid black; 
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 10px;
    width: 300px;
}

#success_box {
        /*border: 1px solid black; */
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}


header {
    border: 1px solid black;
    height: 65px;
}


#top_nav {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    height: 20px;
    width: 967px;
}


#top_nav ul li {
    float: left;
    list-style-type: none;
    margin-left: 15px;
}

#top_nav ul li a {
    text-decoration: none;
    padding: 3px;
    
}

/* Log In form in top_nav */
#top_nav form{
    float: right;
}

/* Controls that show up after user has logged in */
#user_controls {
    float: right;
}

#user_controls h3{
    font-family: arial;
    font-weight: lighter;
}

#create {
    float: right;
    clear: both;
    font-size: .75em;
    margin-top: 7px;
}

#error_message {
    float: right;
    clear: both;
    font-size: .75em;
    margin-top: -15px;
    margin-right: 300px;

}
#controls ul li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
}

#controls ul li a {
    text-decoration: none;
    font-size: 1em;
}

#search_results {
    background-color: blue;
}

footer {
    border: 1px solid black;
    clear: both;
}

footer p {
    margin: 0px; 
    padding: 0px;
    text-align: center;
}